body {
    background-color: #99B5DD;
}

.row {
    margin-top:25px;  /* Afin d'avoir une calculatrice qui ne colle pas le haut de la page */
    border-width: medium;
}

.ligne,#ligneres {
    display:flex;
    flex-wrap:wrap;
    height:125px;
}

button {
    border: 2px solid black;
    width: 25%;
    height:100%;
    font-size:75px;
    background-color: blue;
}

#ligneres {
    height: 80px;
}

.operande {
    width:10%;
}

#egal,#effacer_tout {
    width:20%;
}

#effacer,#effacer_tout{
    font-size: 35px;
    font-weight: 500; 
}

#res {
    width:95%;
    border: 2px solid black;
    border-top-width: 15px;
    border-top-color: black;
    font-size:50px;
    word-wrap: break-word; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: blue;
    background-color: lightblue;
}

#bordersept {
    border-top-left-radius: 15px;
}

#borderfois {
    border-top-right-radius: 15px;
}

/* Lorsque le curseur survole un bouton */
button:hover { 
    background-color: lightblue;
} 

/* Lorsqu'un bouton est cliqué */
button:active {
    background-color: white;
} 



/* Gestion de l'affichage pour les écrans d'une largeur inférieure à 720px. 
                        Le site est donc responsive */
@media screen and (max-width: 720px) {

    .row {
        margin-top: 25px;
    }

    .ligne,#ligneres {
        display:flex;
        flex-wrap:wrap;
        height: 100px;
    }

    button {
        font-size: 30px;
    } 

    #effacer,#effacer_tout{
        font-size: 15px;
        font-weight: 500;
    }
    
    #res {
        font-size: 25px;
    }

    #ligneres {
        height: 50px;
    }
  }
  